.appointmentTable th{
    padding: 10px;
    text-align: left;
}
.appointmentTable tr{
    background-color: rgb(255, 255, 255);
    color: black;
    border-top: 1px solid #3a42568f;
}
.doc-form form{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}

